<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.priyank.threetaps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThreeTaps">
        <activity android:name=".activity.MainActivity" />
        <activity-alias
            android:name=".activity.Launcher"
            android:exported="true"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <receiver
            android:name=".service.VolumeControl"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyService"
            android:enabled="true" />
    </application>
</manifest>